//theme
@import 'normalise';
@import 'variables';

// components
@import 'components/fontstyles';
@import 'components/buttons';
@import 'components/hamburger';
@import 'components/video';

// partials
@import 'partials/navigation';
@import 'partials/header';
@import 'partials/about';
@import 'partials/features';
@import 'partials/subscribe';

body{
    overflow-x      : hidden;
    background-image: url(../img/foodtexture.svg);
    background-size : 120%
}
img {
	opacity: 1;
	transition: opacity 0.3s;
}

img.lazy {
	opacity: 0;
}
.container {
    margin: 0 1em; 
}
section {
    padding: 2em 0;
}
.hidden {
    visibility: hidden;
    height    : 0;
    opacity   : 0;
}
@media (min-width: $mobile ) {
    .container{
        margin: 0 3em;
    }

}
@media (min-width: $horizontal ) {
    .container{
        margin: 0 10%;
    }
}
