.feature__item--button{
    background-color: $green;
    color: $fntWhite;
    padding: 0.5em 1em;
    border-radius: $radSmall;
    text-decoration: none;
}

.main--button{
    background-color: $green;
    color: $fntWhite;
    padding: 0.5em 1em;
    border-radius: $radSmall;
    text-decoration: none;
}

.form__button{
    background-color: $green;
    font-family: 'Rubik', sans-serif;
    color: $fntWhite;
}
