
nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    
}

nav ul{
    list-style-type: none;  
    display: flex;
    align-content: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
}

nav a{
    font-family: bebas-neue,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: $subtitle;
    text-decoration: none;
    color: $fntWhite; 
    padding: 0.2em 0.6em;
    margin: 0 0.4em;
}
nav li{
    margin: 0.5em;
}
nav a:hover{
    border-bottom: 2px solid $fntWhite;
}

.navlinks{
    opacity: 1; 
    height: 214px;
    transition: height .6s ease, visibility .6s ease, opacity .6s ease;
}

.nav__item--lined{
    border: 2px solid $fntWhite;
}

@media (max-width: $mobile ) {
    .navlinks{
        margin: 150px 0 0 0;
    }
    nav a{
        color: $fntGrey;
    }
    .nav__item--lined{
        border: 2px solid $fntGrey;
    }   

}
@media (max-width: $tablet){
    nav ul{
        list-style-type: none;
        width: 100%;    
        display: flex;
        align-content: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0;
    }
}
@media (min-width: $tablet ){
    nav{
        height: 38px;
        display: flex;
        align-content: center;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        text-align: center;
        padding: 10px;
    }
    .logo--icon{
        margin-right: auto;
        width: 100px;
        margin-left: 1em;
        align-self: flex-start
    }
    .nav__item--lined{
        margin-right: 10px;
    }  
    
}
